        <a href="{{ path('app_setup') }}"
           class="px-2 inline-flex items-center justify-center rounded-lg border border-grey-700 bg-blue-200 text-blue-950 px-4 py-2.5 text-sm font-semibold hover:bg-blue-100 transition">
          Changer version/langue
        </a>