      {# Barre d’actions légère (optionnelle) #}
      <div class="w-full sm:w-auto flex gap-3 sm:gap-4">
        {% include 'partials/main/elem/numberResult.html.twig' %}
        {% include 'partials/main/elem/searchBarre.html.twig' %}
        {% include 'partials/main/elem/changelorv.html.twig' %}
      </div>