<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}League of Data Base{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% include 'partials/meta.html.twig' %}
    </head>

    <body class="bg-blue-950 flex flex-col min-h-screen">
        {% include 'partials/header.html.twig' %}
        <div class="flex-1">
            {% block body %}{% endblock %}
        </div>
        {% include 'partials/footer.html.twig' %}
        {% include 'partials/toaster.html.twig' %}
    </body>
</html>
